{{#each jobs as |job|}}
  {{log job.status}}
  {{#if (eq job.status 'finishedx')}}
    <p>Job {{job.id}} finished. <a>View Results</a>
    </p>
  {{else}}
  <p>
  {{#link-to 'jobs.show' job }}
    Job {{job.id}} {{job.status}}
  {{/link-to}}
  </p>
  {{/if}}
{{/each}}
