{{#each orderedJobs key="id" as |job index|}}
  {{#if (eq job.status "finished")}}
    <p>
      Job {{job-number index}} finished. <a href="{{downloadHost}}/results/{{job.id}}">Download Results</a>
    </p>
  {{else if (eq job.status "error")}}
    <p>
      Job {{job-number index}} failed. <a href="{{downloadHost}}/results/{{job.id}}">Download Results</a>
    </p>
  {{else}}
    <p>
      {{#link-to "jobs.show" job }}
        Job {{job-number index}} {{job.status}}
      {{/link-to}}
    </p>
  {{/if}}
{{/each}}
