<p>
{{upload-with-progress url="/files" onUpload=(route-action "fileUploaded")}}
</p>

<br/>

{{#filter-panel as |currentFilter|}}
  {{#file-list files=model filter=currentFilter as |f|}}

    {{#file-view 
        routeObject=f
        fileName=f.fileName
        fileType=f.fileType
        uploadedOn=f.uploadedOn
        jobs=f.jobs
        processButtonText="Run"
        onFileTypeChange=(route-action "changeFileType" f)
        fileRunCommand=(route-action "startProcessFile" f)
      }}

      {{#files/options-provider file=f as |options|}}
      {{#if (eq f.fileType "fasta")}}

        {{predict-structure-options-form 
          optionsObject=options.forPredictStructure 
          fileRunCommand=(route-action "startProcessFile" f)}}

      {{else if (eq f.fileType "structure")}}

        {{graph-options-form 
            optionsObject=options.forCreateGraph
            fileRunCommand=(route-action "startProcessFile" f options.forCreateGraph)}}

      {{else}}
        Please select a command to configure options
      {{/if}}
      {{/files/options-provider}}

    {{/file-view}}

  {{/file-list}}
{{/filter-panel}}
