<p>
  {{upload-with-progress 
    url=(concat rootURL "files") 
    onUpload=(action "fileUploaded")
  }}
</p>

<br>

{{#filter-panel as |currentFilter|}}
  {{#file-list files=model filter=currentFilter as |f|}}

    {{#file-view
        routeObject=f
        fileName=f.fileName
        fileType=f.fileType
        uploadedOn=f.uploadedOn
        jobs=f.jobs
        processButtonText="Run"
        onFileTypeChange=(action "changeFileType" f)
        fileRunCommand=(action "startProcessFile" f)
        onDelete=(action "deleteFile" f)
        onErrorViewed=(action "clearError" f)
      }}

      {{#files/options-provider file=f as |options|}}
        {{#if (eq f.fileType "fasta")}}

          {{predict-structure-options-form
            optionsObject=options.forPredictStructure
            fileRunCommand=(action "startProcessFile" f options.forPredictStructure)}}

        {{else if (eq f.fileType "structure")}}

          {{graph-options-form
              optionsObject=options.forCreateGraph
              fileRunCommand=(action "startProcessFile" f options.forCreateGraph)}}

        {{else}}
          Please select a command to configure options
        {{/if}}
      {{/files/options-provider}}

    {{/file-view}}

  {{/file-list}}
{{/filter-panel}}
