<div class="ui large top fixed menu">
  <div class="header item">
    <i class="lab icon"></i>
    Aptamer
  </div>
  <div class="right menu">
    {{#if session.isAuthenticated}}
      <a class="ui item" role="button" {{action "invalidateSession"}}>
        {{currentUser.user.name}} (Logout)
      </a>

    {{else}}
      {{link-to "Login" "login" class="ui item"}}
    {{/if}}
  </div>
</div>
{{! template-lint-disable no-inline-styles }}
<div class="ui container" style="padding-top:55px">

  {{outlet}}


</div>
