
<div class="ui container">
  <h1>Create Graph</h1>
  <div class="ui basic segment">
    <p>
      Upload your structure file to generate a
      graph file. You can <a>generate</a> one if you don't have one
    </p>
  </div>
  <div class="ui two column middle aligned very relaxed stackable grid">

    <div class="column">
      {{upload-with-progress onUpload=(route-action "fileUploaded")}}
    </div>


    <div class="column">
      {{graph-options-form optionsObject=model.options}}
    </div>
  </div>

  <br>

    {{#structure-file-list files=model.structureFiles as |sf|}}
      <div class="item">
        <div class="ui right floated content">
          <button class="small ui button">Create Graph</button>
          <a>More</a>
        </div>
        <i class="large middle aligned file text icon"></i>
        <div class="content">
          <a class="header">{{sf.fileName}}</a>
          <div class="description">Uploaded {{sf.uploadedOn}}</div>
        </div>
      </div>
    {{/structure-file-list}}

</div>

{{outlet}}
