
<div class="ui container">
  <h1>Create Graph</h1>
  <div class="ui basic segment">
    <p>
      Upload your structure file to generate a
      graph file. You can <a>generate</a> one if you don't have one
    </p>
  </div>
  <div class="ui two column middle aligned very relaxed stackable grid">

    <div class="column">
      {{upload-with-progress}}
    </div>


    <div class="column">
      {{graph-options-form optionsObject=model.options}}
    </div>
  </div>

  {{log "MODEL" model}}
  <div class="ui relaxed divided list">
    {{#each model.structureFiles as |sf|}}
      <div class="item">
        <i class="large github middle aligned icon"></i>
        <div class="content">
          <a class="header">{{sf.fileName}}</a>
          <div class="description">Uploaded {{sf.uploadedOn}}</div>
        </div>
      </div>
    {{/each}}
  </div>

</div>

{{outlet}}
