<div class="ui grid">
  <div class="one wide column">
  </div>
  <div class="five wide column">
    {{#if loginError}}
    <div class="ui error message">
      <i class="close icon" {{action (mut loginError "")}}></i>
      {{loginError}}
    </div>
    {{/if}}

    {{login-form
      session=session
      onSubmit=(action "doLogin")
    }}
  </div>
  <div class="four wide column">
    <div class="ui center aligned basic segment">
      <h1>or</h1>
    </div>
  </div>
  <div class="five wide column">
    {{#if signupError}}
    <div class="ui error message">
      {{signupError}}
    </div>
    {{/if}}
    {{signup-form createAccount=(action "createAccount")}}
  </div>
  <div class="one wide column">
  </div>
</div>
<hr>
{{outlet}}
