<div class="ui right floated content">
  <button class="small ui button" {{action fileRunCommand}}>
    <i class="play icon"></i>
    {{processButtonText}}
  </button>
  <button class="small ui icon button" {{action "toggleShowMore"}}>
    <i class="options icon"></i>
  </button>
</div>

<i class="large middle aligned file text icon"></i>

<div class="content">
  {{#link-to 'files.view' routeObject class="header"}}
    {{fileName}}
  {{/link-to}}
  <div class="description">Uploaded {{moment-from-now uploadedOn}}</div>
  <div class="extra">
    {{files/job-list jobs=jobs}}
  </div>
</div>

{{#if showMore}}
  <div class="extra">
    <form class="ui small form">
      <div class="inline fields">
        <label>File Type</label>
        <div class="field">

          {{#ui-dropdown class="selection" selected=fileType onChange=(action onFileTypeChange)}}
            <div class="default text">Please select...</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              {{#each fileTypeOptions as |fileType|}}
                <div class="item" data-value="{{fileType.key}}">
                  {{fileType.title}}
                </div>
              {{/each}}
            </div>
          {{/ui-dropdown}}
        </div>
      </div>
    </form>
    {{yield}}
  </div>
{{/if}}
