<div class="ui right floated content">
  <button class="small ui icon button" {{action "toggleShowMore"}}>
    <i class="options icon"></i>
    Configure
  </button>
  <a class="small ui button" href="/download/{{routeObject.id}}">
    <i class="download icon"></i>
    Download
  </a>
  <button class="small red ui icon button" {{action "toggleConfirmModal"}}>
    <i class="trash icon"></i>
  </button>
</div>

<i class="large middle aligned file text icon"></i>

<div class="content">
  {{#link-to 'files.view' routeObject class="header"}}
    {{fileName}}
  {{/link-to}}
  <div class="description">Uploaded {{moment-from-now uploadedOn}}</div>
  <div class="extra">
    {{files/job-list orderedJobs=jobs}}
  </div>
</div>

{{#if confirmingDelete}}
  <div class="ui tiny active modal">
    <div class="header">Confirm Delete</div>
    <div class="content"><p>Delete file "{{fileName}}?"</p></div>
    <div class="actions">
      <div class="ui red basic cancel button" {{action "toggleConfirmModal"}}>
        <i class="remove icon"></i>
        Cancel
      </div>
      <div class="ui green ok inverted button" {{action "deleteFile" routeObject}}>
        <i class="checkmark icon"></i>
        Delete
      </div>
    </div>
  </div>
{{/if}}

{{#if routeObject.status.error}}
  <div class="ui tiny active modal">
    <div class="header"><i class="warning sign icon"></i>Error</div>
    <div class="content"><p>{{routeObject.status.errorMessage}}</p></div>
    <div class="actions">
      <div class="ui red ok button"{{action "errorViewed" routeObject}}>
        Ok
      </div>
    </div>
  </div>
{{/if}}

{{#if showMore}}
  <div class="extra">
    <form class="ui small form">
      <div class="inline fields">
        <label>Command</label>
        <div class="field">

          {{#ui-dropdown class="selection" selected=selectedCommand onChange=(action "selectCommand")}}
            <div class="default text">Please select...</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="predict_structures">
                Predict Structures
              </div>
              <div class="item" data-value="create_graph">
                Create Graph
              </div>
            </div>
          {{/ui-dropdown}}
        </div>
      </div>
    </form>
    {{yield}}
  </div>
{{/if}}
