<div class="ui right floated content">
  <button class="small ui button">
    <i class="play icon"></i>
    {{processButtonText}}
  </button>
  <button class="small ui icon button" {{action "toggleShowMore"}}>
    <i class="options icon"></i>
  </button>
</div>

<i class="large middle aligned file text icon"></i>

<div class="content">
  {{#link-to 'files.view' file class="header"}}
    {{fileName}}
  {{/link-to}}
  <div class="description">Uploaded {{moment-from-now uploadedOn}}</div>
  <div class="extra">
  </div>
</div>

{{#if showMore}}
  <div class="extra">
    {{yield}}
  </div>
{{/if}}
