<div class="ui right floated content">
  <button class="small ui icon button" {{action "toggleShowMore"}}>
    <i class="options icon"></i>
    Configure
  </button>
  <a class="small ui button" href="/download/{{routeObject.id}}">
    <i class="download icon"></i>
    Download
  </a>
</div>

<i class="large middle aligned file text icon"></i>

<div class="content">
  {{#link-to 'files.view' routeObject class="header"}}
    {{fileName}}
  {{/link-to}}
  <div class="description">Uploaded {{moment-from-now uploadedOn}}</div>
  <div class="extra">
    {{files/job-list jobs=jobs}}
  </div>
</div>

{{#if showMore}}
  <div class="extra">
    <form class="ui small form">
      <div class="inline fields">
        <label>Command</label>
        <div class="field">

          {{#ui-dropdown class="selection" selected=selectedCommand onChange=(action "selectCommand")}}
            <div class="default text">Please select...</div>
            <i class="dropdown icon"></i>
            <div class="menu">
              <div class="item" data-value="predict_structures">
                Predict Structures
              </div>
              <div class="item" data-value="create_graph">
                Create Graph
              </div>
            </div>
          {{/ui-dropdown}}
        </div>
      </div>
    </form>
    {{yield}}
  </div>
{{/if}}
