<form class="ui small form">
  {{#if showHelp}}
  <div class="ui compact message">
    <div class="header">
      Edge Type
    </div>
        Whether to create edges in output graph according to 
        edit distance or tree distance. <code>-t or --edge_type</code>
  </div>
  {{/if}}

  <div class="inline fields">

    <label>Edge Type</label>
    <div class="field">
      {{#ui-dropdown class="selection" selected=(get optionsObject 'edgeType') onChange=(action (mut (get optionsObject "edgeType")))}}
        <div class="default text">Edge Type</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each edgeTypes as |edgeType|}}
            <div class="item" data-value="{{edgeType}}">
              {{edgeType}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>

    <div class="field">
      {{ui-checkbox label="Seed" checked=(get optionsObject "seed") onChange=(action (mut (get optionsObject "seed"))) }}
    </div>

    {{#if showHelp}}
      <div class="ui compact message">
      <div class="header">
        Seed
      </div>
      Use seed sequence algorithm to find graph edges.
    </div>
    {{/if}}

    <div class="field">
      <label>Max Edit Distance {{optionsObject.maxEditDistance}}</label>
      {{input type="range" value=optionsObject.maxEditDistance min=0 max=10}}
    </div>

    {{#if showHelp}}
      <div class="ui compact message">
        <div class="header">
          Maximum edit distance
        </div>
        Maximum edit distance allowed for an edge to be created 
        in output graph. 
        Assumes <code>--edge_type</code> is "edit" or "both". (Default: 3)
      </div>
    {{/if}}


    <div class="field">
      <label>Max tree distance {{optionsObject.maxTreeDistance}}</label>
      {{input type="range" value=optionsObject.maxTreeDistance min=0 max=10}}
    </div>

    {{#if showHelp}}
      <div class="ui compact message">
        <div class="header">
          Maximum tree distance
        </div>

        Maximum tree distance allowed for an edge to be created 
        in output graph. 
        Assumes <code>--edge_type</code> is "tree" or "both". (Default: 3)

      </div>
    {{/if}}


  </div>

</form>

{{#if showCommandPreview}}
<div class="ui secondary segment">
      <code>
        python create_graph.py {{fileName}} {{optionsObject.commandLinePreview}}
      </code>
</div>
{{/if}}


{{yield}}
