<form class="ui small form">

  <em>I'm not happy with the layout of these fields, happy for feedback based on use</em>

  <div class="inline fields">
    <label>Prediction Tool</label>
    <div class="field">
      {{#ui-dropdown class="selection" selected=currentTool onChange=(action "changeTool")}}
        <div class="default text">Tool</div>
        <i class="dropdown icon"></i>
        <div class="menu">
          {{#each predictionTools as |tool|}}
            <div class="item" data-value="{{tool}}">
              {{tool}}
            </div>
          {{/each}}
        </div>
      {{/ui-dropdown}}
    </div>

      <label>Version</label>
      <div class="field">
        {{ui-radio name="viennaVersion" label="1" value="1" current=optionsObject.viennaVersion onChange=(action (mut optionsObject.viennaVersion))}}
      </div>
      <div class="field">
        {{ui-radio name="viennaVersion" label="2" value="2" current=optionsObject.viennaVersion onChange=(action (mut optionsObject.viennaVersion))}}
      </div>

    <a {{action "toggleHelp"}}>Help</a>
  </div>


  <div class="inline fields">
    <div class="field">
      <label>Prefix</label>
      {{input type='text' value=optionsObject.prefix}}
    </div>
    <div class="field">
      <label>Suffix</label>
      {{input type='text' value=optionsObject.suffix}}
    </div>
  </div>

  <div class="field">
    <label>Additional Options</label>
    {{input type='text' value=optionsObject.passOptions}}
  </div>
</form>

{{#if showHelp}}
  <div class="ui list">

    <div class="item">
        <div class="header">
          Prediction Tool
        </div>
        Allows you to choose which tool will be used to predict
        RNA structures. Note: If you select mFold,
        some graph attributes will be omitted.
        <code>--run_mfold</code>
    </div>

    <div class="item">
        <div class="header">
          Vienna Version
        </div>
        ViennaRNA package version
    </div>

    <div class="item">
        <div class="header">
          Prefix
        </div>
        Sequence to prepend to RNA sequences during structure
        prediction. (Default: --NO PRIMER-- previously used
        GGGAGGACGAUGCG)
        <code>--prefix</code>

    </div>

    <div class="item">
        <div class="header">
          Suffix
        </div>
        Sequence to append to RNA sequences during structure
        prediction. (Default: --NO PRIMER-- previously used
        CAGACGACUCGCCCGA)

        <code>--suffix</code>

    </div>

    <div class="item">
      <div class="header">
        Pass Options
      </div>
      Quoted string containing options to pass to Vienna or
      mfold (depending on whether -m is selected) in lieu of
      the following default options. Vienna default options:
      "-p -T 30 --noLP --noPS --noGU". mfold default
      options: "T=30"

      <code>--pass_options</code>

    </div>
  </div>
{{/if}}

{{#if showCommandPreview}}
  <div class="ui secondary segment">
    <code>
      python predict_structures.py {{fileName}} {{optionsObject.commandLinePreview}}
    </code>
    <!-- negative margin otherwise it lays outside the segment box -->
    <button class="ui right floated primary button" style="margin-top: -10px" {{action fileRunCommand}}>
      <i class="play icon"></i>
      Run
    </button>
  </div>
{{/if}}


{{yield}}
